*, *::after, *::before {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}


  .container {
    height: 95svh;
    width: 100svw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: center;
    grid-gap: 1em;
    padding: 3em;
}
  #workouts-section, #schede-section {

    border-radius: 15px;
    padding: 2rem;
    grid-area: span 1;
    min-width: 450px;
    text-align: center;
    background-color: #999; 
  }

  .home-title {
    color: #333; 
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
  }

  /* Form Inputs and Buttons */
  .inputfield {
      display: block;
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
  }

  div[onclick] {
      cursor: pointer;
      color: white;
      background-color: #007bff;
      padding: 10px 20px;
      border-radius: 5px;
      display: inline-block;
      margin-right: 10px;
  }

  div[hx-post] {
      cursor: pointer;
      color: white;
      background-color: #28a745;
      padding: 10px 20px;
      border-radius: 5px;
      display: inline-block;
  }

  /* Table Container */
  #table-container {
      padding: 20px;
      background-color: #f8f9fa;
      border: 1px solid #ddd;
  }

  /* Navigation Bar */
  #dynamic-nav div {
      color: white;
      cursor: pointer;
  }

  nav {
      display: flex;
      justify-content: center;
      padding: 10px;
      background-color: #333;
      height: 5svh;
  }

  nav div {
      color: white;
      padding: 10px 20px;
      cursor: pointer;
  }

  nav div:hover {
      background-color: #555;
  }

  .htmx-indicator {
      display: block;
      margin: 20px auto;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
      .container {
          width: 100%;
          padding: 10px;
      }

      #dynamic-nav {
          flex-direction: column;
      }
  }
  
  .btn {
	background-color:green;
	color:white;
	border-radius:15px;
	padding:20px;
	}